  <tr>
     <td><%=produto.nome%></td>
     <td><%=produto.descricao%></td>
     <td><%=produto.preco%></td>
     <td><%=button_to :Remover, produto, #Isso é o produto que eu quero remover
                      method: :delete,
                      data: {confirm: "Tem certeza que deseja remover #{produto.nome} ?"},
                      class: "btn btn-danger" %></td>

      <td><%=link_to "Alterar", edit_produto_path(produto), class: "btn btn-default" %></td>
  </tr>